
*.csproj
Maze_Shooter/.idea/
Maze_Shooter/Library/
Maze_Shooter/obj/
Maze_Shooter/Temp/
Maze_Shooter/Logs/
*.idea
*.sln
*.log
*.log
*.log
Maze_Shooter/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Maze_Shooter/Logs/shadercompiler-UnityShaderCompiler.exe2.log
